Repository tbckr/sgpt: changes, and which pre-commit hooks are due for each by the changed paths.
All: goreleaser, golangci-lint, govulncheck

goreleaser:
  name: check goreleaser config
  entry: bash -c "goreleaser check"
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  description: Fast linters runner for Go.
  entry: golangci-lint run --new-from-rev HEAD --fix
  language: golang
  require_serial: true
  pass_filenames: false

govulncheck:
  name: govulncheck
  description: Check for vulnerable dependencies
  entry: govulncheck ./...
  language: golang
  require_serial: true
  pass_filenames: false

feat: add config subcommand
  cli/config.go
  cli/config_test.go
  cli/root.go
  cli/root_test.go
Due: golangci-lint, govulncheck

chore: rm TOOD
  cli/chat.go
Due: golangci-lint, govulncheck

chore: rm TOODs
  cli/completion_test.go
Due: golangci-lint, govulncheck

chore: rm TOODs
  modifiers/prompts.yml
  shell/shell.go
Due: golangci-lint, govulncheck

feat: load default modifiers from embedded file
  go.mod
  modifiers/defaults.go
  modifiers/defaults_test.go
  modifiers/modifiers.go
  modifiers/prompts.yml
Due: golangci-lint, govulncheck

fix: use t.Cleanup instead of defer in tests
  api/api_test.go
  chat/filesystem_test.go
  cli/chat_test.go
  cli/check_test.go
  cli/completion_test.go
  cli/config_test.go
  cli/licenses_test.go
  cli/man_test.go
  cli/root.go
  cli/root_test.go
  cli/util_test.go
  cli/version_test.go
  fs/fs_test.go
Due: golangci-lint, govulncheck

chore: add comment
  shell/shell.go
Due: golangci-lint, govulncheck

chore: rename var
  modifiers/modifiers.go
Due: golangci-lint, govulncheck

chore: reuse prompts.yml for licenses
  .github/workflows/toc.yml
  licenses/prompts.md
  licenses/prompts.yml
Due: none

feat: load custom personas
  api/api.go
  cli/root_test.go
  cli/util_test.go
  fs/fs.go
  modifiers/modifiers.go
  modifiers/modifiers_test.go
Due: golangci-lint, govulncheck

feat: create example personas dir
  personas/echo
Due: none

chore: add TODO
  cli/root.go
Due: golangci-lint, govulncheck

feat: add readthedocs for documentation
  .gitignore
  .readthedocs.yaml
  Taskfile.yml
  docs/_theme/main.html
  docs/examples.md
  docs/getting-started.md
  docs/index.md
  docs/installation.md
  docs/requirements.txt
  docs/usage.md
  mkdocs.yml
  personas/echo
Due: none

chore: write documentation
  README.md
  docs/configuration.md
  docs/examples.md
  docs/getting-started.md
  docs/index.md
  docs/installation.md
  docs/usage.md
  docs/usage/chat.md
  docs/usage/docker.md
  docs/usage/personas.md
  docs/usage/query-models.md
  mkdocs.yml
Due: none

chore: Update .goreleaser.yaml
  .goreleaser.yaml
Due: goreleaser

feat: make modifier optional
  cli/root.go
  cli/root_test.go
Due: golangci-lint, govulncheck

chore: add more doc
  docs/configuration.md
  docs/getting-started.md
  docs/usage/chat.md
  docs/usage/personas.md
  docs/usage/query-models.md
Due: none

chore: add help to cli
  README.md
  cli/root.go
Due: golangci-lint, govulncheck

chore: rm jww for logging
  chat/filesystem.go
  cli/chat.go
  go.mod
  go.sum
Due: golangci-lint, govulncheck

feat: update module version to 1.21
  go.mod
Due: none

chore: add ISC to allow licenses
  .github/workflows/depsreview.yml
Due: none

fix: add shell env for tests in ci
  .github/workflows/ci.yml
Due: none

chore: rename var
  .github/workflows/ci.yml
  api/api.go
Due: golangci-lint, govulncheck

chore(ci): debug
  .github/workflows/ci.yml
Due: none

fix: add shell env for tests in ci
  .github/workflows/ci.yml
  scripts/gha-test.sh
Due: none

fix(ci): tests
  .github/workflows/ci.yml
  modifiers/modifiers_test.go
  scripts/gha-test.sh
Due: golangci-lint, govulncheck

fix(ci): debug
  api/api_test.go
  cli/root_test.go
  modifiers/modifiers_test.go
Due: golangci-lint, govulncheck

fix(ci): set shell env manually
  api/api_test.go
  cli/root_test.go
  modifiers/modifiers_test.go
Due: golangci-lint, govulncheck

fix(ci): set shell env manually
  cli/root_test.go
Due: golangci-lint, govulncheck

chore(ci): debug
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Taskfile.yml
  cli/root.go
Due: golangci-lint, govulncheck

chore: rename validation func
  Taskfile.yml
  chat/chat.go
  chat/filesystem.go
Due: golangci-lint, govulncheck

Path conditions:
  goreleaser: any of: ^\.goreleaser\.yaml$
  golangci-lint: any of: \.go$
  govulncheck: any of: \.go$
