Repository tbckr/sgpt: changes, and which pre-commit hooks are due for each by the changed paths.
All: goreleaser, golangci-lint, govulncheck

.pre-commit-config.yaml:

# Copyright (c) 2023 Tim <tbckr>
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: check-added-large-files
    - id: check-executables-have-shebangs

  # Text file hooks
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint
        args:
          - --config=.mdl_config.yaml
        files: \.(md|markdown)$

   # GitHub Actions hooks
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.22.0
    hooks:
      - id: check-github-workflows
        files: ^\.github/workflows/.*\.ya?ml$

  - repo: local
    hooks:
    - id: license-header
      name: add license header to files
      entry: ./scripts/license-header.sh
      language: script
    - id: goreleaser
      name: check goreleaser config
      entry: bash -c "goreleaser check"
      language: system
      files: ^\.goreleaser\.yaml$
      pass_filenames: false
    - id: golangci-lint
      name: golangci-lint
      description: Fast linters runner for Go.
      entry: golangci-lint run --new-from-rev HEAD --fix
      types: [go]
      language: golang
      require_serial: true
      pass_filenames: false
    - id: govulncheck
      name: govulncheck
      description: Check for vulnerable dependencies
      entry: govulncheck ./...
      types: [go]
      language: golang
      require_serial: true
      pass_filenames: false

ci: use PAT to update repo content in workflow
  .github/workflows/docs.yml
  .github/workflows/toc.yml
Due: none

chore(test): toc generator
  README.md
Due: none

chore(docs): update TOC
  README.md
Due: none

chore: remove comment in docs workflow
  .github/workflows/docs.yml
Due: none

chore: Bump version to v2.1.0-PRE-RELEASE
  internal/buildinfo/version.go
Due: golangci-lint, govulncheck

feat: adds release-please bot for release management
  .github/workflows/release.yml
  .goreleaser.yaml
  CHANGELOG.md
Due: goreleaser

feat: use custom release-please PAT
  .github/workflows/release.yml
Due: none

feat: adds release-please bot for release management (#136)
  .github/workflows/release.yml
  .goreleaser.yaml
  CHANGELOG.md
Due: goreleaser

ci: use custom github app for automation
  .github/workflows/docs.yml
  .github/workflows/oss-licenses.yml
  .github/workflows/release.yml
  .github/workflows/toc.yml
Due: none

chore: update automated updates with github app name
  .github/workflows/docs.yml
  .github/workflows/oss-licenses.yml
Due: none

feat!: provide input via stdin and as an argument
  cli/root.go
  cli/root_test.go
  modifiers/prompts.yml
Due: golangci-lint, govulncheck

chore: add documentation for new feature
  docs/getting-started.md
  docs/usage/query-models.md
Due: none

chore: harden workflow permissions
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/depsreview.yml
  .github/workflows/docs.yml
  .github/workflows/gitleaks.yml
  .github/workflows/milestone.yml
  .github/workflows/oss-licenses.yml
  .github/workflows/release.yml
  .github/workflows/toc.yml
Due: none

chore: upload gitleaks sarif file and enable summary for workflow
  .github/workflows/gitleaks.yml
Due: none

chore: add gitleaks badge
  README.md
Due: none

chore: update code of conduct details
  CODE_OF_CONDUCT.md
Due: none

chore: add issue template config
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: link to q&a in new issue overview
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: add more badges to readme
  README.md
Due: none

chore(release-please): update version.go as well
  .github/workflows/release.yml
Due: none

feat: allow comments in personas
  modifiers/modifiers.go
  modifiers/modifiers_test.go
Due: golangci-lint, govulncheck

feat: allow comments in personas (#142)
  modifiers/modifiers.go
  modifiers/modifiers_test.go
Due: golangci-lint, govulncheck

chore: use correct commit identity for automation
  .github/workflows/docs.yml
  .github/workflows/oss-licenses.yml
  .github/workflows/toc.yml
Due: none

chore(main): release 2.1.0 (#138)
  CHANGELOG.md
Due: none

fix(release): use the workflow permissions for pushing to ghcr.io
  .github/workflows/release.yml
Due: none

fix(release): use PAT to update scoop bucket and homebrew formula
  .github/workflows/release.yml
  .goreleaser.yaml
Due: goreleaser

fix(release): update internal version info via release please
  .github/workflows/release.yml
  internal/buildinfo/version.go
Due: golangci-lint, govulncheck

feat(release): automatically add "autorelease: published" label on success
  .github/workflows/release.yml
Due: none

fix(release): syntax error in label update
  .github/workflows/release.yml
Due: none

chore(release): deactivate automatically adding "autorelease: published" label on success
  .github/workflows/release.yml
Due: none

feat(release): label "autorelease: published" on success
  .github/workflows/release.yml
Due: none

chore: document release workflow
  .github/workflows/release.yml
Due: none

chore: rm txt from pipe example
  README.md
Due: none

chore(task): add docs:serve task
  Taskfile.yml
Due: none

fix(workflow/docs): use repo token
  .github/workflows/docs.yml
Due: none

chore: Update README.md
  README.md
Due: none

chore: Update root.go
  cli/root.go
Due: golangci-lint, govulncheck

fix: config init writes unnecessary values to config file
  Taskfile.yml
  api/api.go
  api/api_test.go
  cli/config_test.go
  cli/root.go
Due: golangci-lint, govulncheck

chore: do not run codeql on PRs
  .github/workflows/codeql.yml
Due: none

fix: config init writes unnecessary values to config file (#153)
  Taskfile.yml
  api/api.go
  api/api_test.go
  cli/config_test.go
  cli/root.go
Due: golangci-lint, govulncheck
