Repository tbckr/sgpt: changes, and which pre-commit hooks are due for each by the changed paths.
All: goreleaser, golangci-lint

goreleaser:
  name: Check goreleaser config
  entry: bash -c "goreleaser check"
  language: system

golangci-lint:
  name: golangci-lint
  description: Fast linters runner for Go.
  entry: golangci-lint run --new-from-rev HEAD --fix
  language: golang
  require_serial: true
  pass_filenames: false

feat: manpage (#43)
  .github/workflows/oss-licenses.yml
  .goreleaser.yaml
  .pre-commit-config.yaml
  cli/man.go
  go.mod
  go.sum
  licenses/oss-licenses.md
  scripts/manpages.sh
  scripts/oss-licenses.sh
Due: goreleaser, golangci-lint

chore: rename actions pipelines
  .github/workflows/oss-licenses.yml
  .github/workflows/release.yml
Due: none

chore(licenses): update oss licenses
  licenses/oss-licenses.md
Due: none

feat: add codeql analysis pipeline
  .github/workflows/codeql.yml
Due: none

feat: deb, arch, rpm packages
  .goreleaser.yaml
Due: goreleaser

feat: update dependency review workflow
  .github/workflows/depsreview.yml
  .github/workflows/oss-licenses.yml
Due: none

chore: Update CodeQL workflow to analyze src changes [semver:patch]
  .github/workflows/codeql.yml
Due: none

feat: add gitleaks pipeline
  .github/workflows/gitleaks.yml
Due: none

chore: trigger depsreview on main push as well
  .github/workflows/depsreview.yml
Due: none

fix: depsreview on pull requests only
  .github/workflows/depsreview.yml
Due: none

chore: update installation options in readme
  README.md
Due: none

chore(docs): update TOC
  README.md
Due: none

chore: update oss-licenses template, format prompt modifiers
  .github/licenses.tmpl
Due: none

Fix: Use semantic versioning for Go install command - Changed the Go install command to use semantic versioning, updating '@1.10.0' to '@v1.10.0'.
  README.md
Due: none

chore: update go install command to v1.10.1
  README.md
Due: none

chore: dont pass filenames to pre-commit goreleaser hook
  .pre-commit-config.yaml
Due: none

chore: add DisableFlagsInUseLine option to specific commands
  cli/chat.go
  cli/licenses.go
  cli/root.go
Due: golangci-lint

chore: deactivate verbose flag for now
  cli/root.go
Due: golangci-lint

feat: add jww for logging, add logging to api + modifiers
  api/api.go
  cli/chat.go
  cli/root.go
  go.mod
  go.sum
  modifiers/modifiers.go
Due: golangci-lint

feat: add logging for chat
  chat/chat.go
Due: golangci-lint

feat: add logging to filesystem
  filesystem/filesystem.go
Due: golangci-lint

feat: add logging to image
  image/image.go
Due: golangci-lint

feat: add logging to shell
  shell/shell.go
Due: golangci-lint

feat: add logging to chat cli
  cli/chat.go
Due: golangci-lint

chore: add log in chat
  chat/chat.go
Due: golangci-lint

chore: Bump up jww.SetStdoutThreshold to jww.LevelCritical in cli/root.go file
  cli/root.go
Due: golangci-lint

chore: optimize logs
  chat/chat.go
Due: golangci-lint

feat: add verbose mode #13 (#46)
  api/api.go
  chat/chat.go
  cli/chat.go
  cli/root.go
  filesystem/filesystem.go
  go.mod
  go.sum
  image/image.go
  modifiers/modifiers.go
  shell/shell.go
Due: golangci-lint

feat: drop support for modifiers using non chat based models
  api/api.go
  modifiers/modifiers.go
Due: golangci-lint

chore: remove extra logging
  modifiers/modifiers.go
Due: golangci-lint

feat: add prompt.yml
  prompts.yml
Due: none

chore: format yaml
  prompts.yml
Due: none

Path conditions:
  goreleaser: any of: ^\.goreleaser\.yaml$
  golangci-lint: any of: \.go$
