Repository tbckr/sgpt: changes, and which pre-commit hooks are due for each by the changed paths.
All: goreleaser, golangci-lint, govulncheck

.pre-commit-config.yaml:

# Copyright (c) 2023 Tim <tbckr>
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: check-added-large-files
    - id: check-executables-have-shebangs

  # Text file hooks
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint
        args:
          - --config=.mdl_config.yaml
        files: \.(md|markdown)$

   # GitHub Actions hooks
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.22.0
    hooks:
      - id: check-github-workflows
        files: ^\.github/workflows/.*\.ya?ml$

  - repo: local
    hooks:
    - id: license-header
      name: add license header to files
      entry: ./scripts/license-header.sh
      language: script
    - id: goreleaser
      name: check goreleaser config
      entry: bash -c "goreleaser check"
      language: system
      files: ^\.goreleaser\.yaml$
      pass_filenames: false
    - id: golangci-lint
      name: golangci-lint
      description: Fast linters runner for Go.
      entry: golangci-lint run --new-from-rev HEAD --fix
      types: [go]
      language: golang
      require_serial: true
      pass_filenames: false
    - id: govulncheck
      name: govulncheck
      description: Check for vulnerable dependencies
      entry: govulncheck ./...
      types: [go]
      language: golang
      require_serial: true
      pass_filenames: false

fix: do not build 389 arch docker images
  .goreleaser.yaml
Due: goreleaser

chore: refactor taskfile and add commit msg checker
  .pre-commit-config.yaml
  Taskfile.yml
Due: none

feat: revert docker base image to chainguard images
  Dockerfile
  Dockerfile.goreleaser
Due: none

feat: revert docker base image to chainguard image for goreleaser
  Dockerfile.goreleaser
Due: none

chore: fix git hooks init
  Taskfile.yml
Due: none

feat: add doc for interactice shell session with rlwrap
  .bashrc
  .dockerignore
  README.md
  docs/examples.md
  docs/getting-started.md
  docs/usage/chat.md
  docs/usage/gpt4-vision-api.md
Due: none

fix: set missing role of received message
  pkg/api/api.go
Due: golangci-lint, govulncheck

fix: set missing role of received message (#216)
  pkg/api/api.go
Due: golangci-lint, govulncheck

feat: add doc for interactice shell session with rlwrap (#217)
  .bashrc
  .dockerignore
  README.md
  docs/examples.md
  docs/getting-started.md
  docs/usage/chat.md
  docs/usage/gpt4-vision-api.md
Due: none

chore(lint): fix linting issues
  internal/testlib/httmock.go
  pkg/api/api_test.go
  pkg/cli/config.go
Due: golangci-lint, govulncheck

feat: upgrade golang to 1.22.1
  .github/workflows/ci.yml
  .github/workflows/release.yml
  go.mod
Due: none

feat: upgrade golang to 1.22.1 (#236)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  go.mod
Due: none

chore: deactivate codeql
  .github/workflows/codeql.yml
Due: none

fix: update go version in go.mod
  go.mod
Due: none

feat: provide prompt via stdin and cmd arg
  pkg/api/api.go
  pkg/cli/root.go
  pkg/cli/root_test.go
  pkg/modifiers/modifiers.go
Due: golangci-lint, govulncheck

chore: fix tests for new feature
  pkg/api/api_test.go
Due: golangci-lint, govulncheck

chore: deactivate govulncheck
  .pre-commit-config.yaml
Due: none

chore: update docs with new feature
  README.md
  docs/getting-started.md
Due: none

feat: provide input via stdin and as an argument reopened (#239)
  README.md
  docs/getting-started.md
  pkg/api/api.go
  pkg/api/api_test.go
  pkg/cli/root.go
  pkg/cli/root_test.go
  pkg/modifiers/modifiers.go
Due: golangci-lint, govulncheck

chore: refactor root.go
  .gitignore
  cmd/sgpt/main.go
  pkg/cli/error.go
  pkg/cli/root.go
  pkg/fs/fs.go
Due: golangci-lint, govulncheck

chore: add internal/app/info.go
  internal/app/info.go
Due: golangci-lint, govulncheck

chore: wip
  cmd/sgpt/main.go
  internal/app/info.go
  internal/testlib/command.go
  internal/testlib/util.go
  pkg/api/api.go
  pkg/api/openai/openai.go
  pkg/api/openai/openai_test.go
  pkg/api/openai/testdata/marvin.jpg
  pkg/cli/chat/chat.go
  pkg/cli/chat/chat_test.go
  pkg/cli/check/check.go
  pkg/cli/check/check_test.go
  pkg/cli/cli.go
  pkg/cli/completion/completion_test.go
  pkg/cli/config/config.go
  pkg/cli/config/config_test.go
  pkg/cli/licenses/licenses.go
  pkg/cli/licenses/licenses_test.go
  pkg/cli/man/man.go
  pkg/cli/man/man_test.go
  pkg/cli/root/root.go
  pkg/cli/root/root_test.go
  pkg/cli/version/version.go
  pkg/cli/version/version_test.go
Due: golangci-lint, govulncheck

fix(goreleaser): remove deprecations
  .goreleaser.yaml
Due: goreleaser

[skip ci] chore: update license
  LICENSE
Due: none

chore: remove old license file
  LICENSE.md
Due: none

fix: use latest go version github workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: use go version 1.22.3 in gha
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: update link to readthedocs
  README.md
Due: none

feat: add infos for gpt-4o support
  README.md
  docs/usage/gpt-4o.md
  docs/usage/gpt4-vision-api.md
  mkdocs.yml
Due: none

fix(goreleaser): path to license file
  .goreleaser.yaml
Due: goreleaser

chore: update readme with info for gpt-4o
  README.md
Due: none

fix: update go version to 1.22.5
  .github/workflows/ci.yml
  .github/workflows/release.yml
  go.mod
Due: none

fix: update go version to 1.22.5 (#269)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  go.mod
Due: none

fix: fix chat subcommands
  pkg/cli/chat.go
Due: golangci-lint, govulncheck

fix: fix chat subcommands (#279)
  pkg/cli/chat.go
Due: golangci-lint, govulncheck

feat: upgrade golang version
  go.mod
Due: none

feat: upgrade golang version (#280)
  go.mod
Due: none

feat: add information and alias regarding o1 model support
  .bashrc
  README.md
  docs/getting-started.md
  docs/usage/o1.md
Due: none

fix: add o1 doc to toc and fix o1 example in readme
  README.md
  mkdocs.yml
Due: none
