Repository tbckr/sgpt: changes, and which pre-commit hooks are due for each by the changed paths.
All: goreleaser, golangci-lint, govulncheck

.pre-commit-config.yaml:

# Copyright (c) 2023 Tim <tbckr>
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: check-added-large-files
    - id: check-executables-have-shebangs

  # Text file hooks
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint
        args:
          - --config=.mdl_config.yaml
        files: \.(md|markdown)$

   # GitHub Actions hooks
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.22.0
    hooks:
      - id: check-github-workflows
        files: ^\.github/workflows/.*\.ya?ml$

  - repo: local
    hooks:
    - id: license-header
      name: add license header to files
      entry: ./scripts/license-header.sh
      language: script
    - id: goreleaser
      name: check goreleaser config
      entry: bash -c "goreleaser check"
      language: system
      files: ^\.goreleaser\.yaml$
      pass_filenames: false
    - id: golangci-lint
      name: golangci-lint
      description: Fast linters runner for Go.
      entry: golangci-lint run --new-from-rev HEAD --fix
      types: [go]
      language: golang
      require_serial: true
      pass_filenames: false
    - id: govulncheck
      name: govulncheck
      description: Check for vulnerable dependencies
      entry: govulncheck ./...
      types: [go]
      language: golang
      require_serial: true
      pass_filenames: false

chore: update docs with stream flas
  docs/getting-started.md
  docs/usage/query-models.md
Due: none

chore(fix,test): fix test for streamed output
  pkg/api/api_test.go
Due: golangci-lint, govulncheck

chore(fix,lint): fix linting error
  internal/testlib/env.go
  pkg/api/api_test.go
  pkg/cli/check_test.go
  pkg/cli/root_test.go
Due: golangci-lint, govulncheck

chore(fix,test): fix panic error
  pkg/cli/check_test.go
Due: golangci-lint, govulncheck

chore: remove github script part in release pipeline
  .github/workflows/release.yml
Due: none

chore(docs): update docs with stream config param
  docs/configuration.md
Due: none

chore: add stream flag info to readme
  README.md
Due: none

feat: adds support for gpt-4-vison
  .bash_aliases
  .gitleaksignore
  README.md
  docs/getting-started.md
  docs/usage/gpt4-vision-api.md
  go.mod
  go.sum
  mkdocs.yml
  pkg/api/api.go
  pkg/api/api_test.go
  pkg/api/testdata/marvin.jpg
  pkg/cli/root.go
  pkg/fs/fs.go
  pkg/fs/fs_test.go
  pkg/fs/testdata/marvin.jpg
  pkg/fs/testdata/marvin.png
Due: golangci-lint, govulncheck

chore: update gitleaksignore
  .gitleaksignore
Due: none

feat: add example ansible playbook as install option
  README.md
  docs/installation.md
  playbook.yml
Due: none

chore: rename task step in ansible
  README.md
  docs/installation.md
  playbook.yml
Due: none

feat: add example ansible playbook as install option (#185)
  README.md
  docs/installation.md
  playbook.yml
Due: none

chore: mark gpt-4-vision as beta
  README.md
  docs/getting-started.md
  docs/usage/gpt4-vision-api.md
  pkg/api/api.go
  pkg/cli/root.go
Due: golangci-lint, govulncheck

feat: adds initial support for gpt-4-vison (#184)
  .bash_aliases
  .gitleaksignore
  README.md
  docs/getting-started.md
  docs/usage/gpt4-vision-api.md
  go.mod
  go.sum
  mkdocs.yml
  pkg/api/api.go
  pkg/api/api_test.go
  pkg/api/testdata/marvin.jpg
  pkg/cli/root.go
  pkg/fs/fs.go
  pkg/fs/fs_test.go
  pkg/fs/testdata/marvin.jpg
  pkg/fs/testdata/marvin.png
Due: golangci-lint, govulncheck

chore(fix): readme heading gpt-4-vision
  README.md
Due: none

chore: add gpt-4 vision details to features in readme
  README.md
Due: none

chore: format readme
  README.md
Due: none

fix(linux,deb): wrong filepath for copyright notice
  .goreleaser.yaml
Due: goreleaser

feat: enable artifact signing via cosign
  .github/workflows/release.yml
  .goreleaser.yaml
Due: goreleaser

chore(fix): set latest go version
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

feat: enable artifact signing via cosign (#190)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .goreleaser.yaml
Due: goreleaser

feat: added docs for verifying artifacts and docker images
  docs/installation.md
Due: none

fix: use the v2 module in the go installation doc
  README.md
  docs/installation.md
Due: none

chore(github): add stale workflow
  .github/workflows/stale.yml
Due: none

feat: use distroless base images for docker
  .goreleaser.yaml
  Dockerfile
  Dockerfile.goreleaser
Due: goreleaser

feat: use distroless base images for docker
  Dockerfile
  Dockerfile.goreleaser
Due: none

feat: use distroless base images for docker (#200)
  .goreleaser.yaml
  Dockerfile
  Dockerfile.goreleaser
Due: goreleaser

chore: bootstrap releases for path: .
  .release-please-manifest.json
  release-please-config.json
Due: none

chore(release-please): bootstrap releases for path: . (#207)
  .release-please-manifest.json
  release-please-config.json
Due: none

chore(release-please): use manifest mode
  .github/workflows/release.yml
  release-please-config.json
Due: none

chore(release-please): fix workflow
  .github/workflows/release.yml
Due: none

chore(release-please): fix release-please
  .release-please-manifest.json
Due: none

chore(release-please): remove unnecessary command option
  .github/workflows/release.yml
Due: none

fix: do not build 389 arch docker images
  .goreleaser.yaml
Due: goreleaser
