Repository tbckr/sgpt: changes, and which pre-commit hooks are due for each by the changed paths.
All: goreleaser, golangci-lint

.pre-commit-config.yaml:

# Copyright (c) 2023 Tim <tbckr>
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

default_language_version:
  # force all unspecified python hooks to run python3
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.23.3
    hooks:
      - id: gitleaks-docker

  # Enforce that commit messages allow for later changelog generation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.31.0
    hooks:
      # Requires that commitizen is already installed
      - id: commitizen
        stages: [commit-msg]

  # Text file hooks
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint
        args:
          - --config=.mdl_config.yaml
        files: \.(md|markdown)$

  # GitHub Actions hooks
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        files: ^\.github/workflows/.*\.ya?ml$

  - repo: local
    hooks:
      - id: license-header
        name: add license header to files
        entry: bash -c "task license-header"
        language: system
        pass_filenames: false
      - id: goreleaser
        name: check goreleaser config
        entry: bash -c "goreleaser check"
        language: system
        files: ^\.goreleaser\.yaml$
        pass_filenames: false
      - id: golangci-lint
        name: golangci-lint
        description: Fast linters runner for Go.
        entry: golangci-lint run --new-from-rev HEAD --fix
        types: [ go ]
        language: golang
        require_serial: true
        pass_filenames: false
        # TODO: deactivated as long as this issues is not resolved: https://github.com/golang/go/issues/65608
#      - id: govulncheck
#        name: govulncheck
#        description: Check for vulnerable dependencies
#        entry: govulncheck ./...
#        types: [ go ]
#        language: golang
#        require_serial: true
#        pass_filenames: false

no binding for non-interactive shells
  scripts/install-sgpt-pkg.py
Due: none

no binding for non-interactive shells
  scripts/install-sgpt-pkg.md
  scripts/install-sgpt-pkg.py
Due: none

fix: upgrade gh action to fix error
  .github/workflows/oss-licenses.yml
Due: none

fix: fix deprecations in config file
  .goreleaser.yaml
  flake.nix
Due: goreleaser

fix: rename input var
  .github/workflows/ci.yml
Due: none

fix: args for goreleaser run
  .github/workflows/ci.yml
Due: none

fix: migrate to new config file format
  .golangci.yaml
Due: none

fix: fix gorelaser docker image build
  Dockerfile.goreleaser
Due: none

fix: fix goreleaser docker build
  .goreleaser.yaml
  Dockerfile.goreleaser
Due: goreleaser

fix: correct boolean logic in image URL detect
  pkg/api/api.go
  pkg/api/api_test.go
Due: golangci-lint

fix: correct boolean logic in image URL detect (#344)
  pkg/api/api.go
  pkg/api/api_test.go
Due: golangci-lint

fix: fix govulncheck by upgrading go
  go.mod
Due: none

fix: fix govulncheck by upgrading go (#346)
  go.mod
Due: none

fix: guard against empty API response choices to prevent panic
  internal/testlib/httmock.go
  pkg/api/api.go
  pkg/api/api_test.go
Due: golangci-lint

fix: sanitize shell commands to prevent display manipulation
  pkg/shell/shell.go
  pkg/shell/shell_test.go
Due: golangci-lint

fix: exit with non-zero code on panic recovery
  pkg/cli/root.go
  pkg/cli/root_test.go
Due: golangci-lint

fix: add Unwrap method to exitError for error chain traversal
  pkg/cli/error_test.go
Due: golangci-lint

fix: check scanner error after reading chat session file
  pkg/chat/filesystem.go
  pkg/chat/filesystem_test.go
Due: golangci-lint

style: remove trailing newlines and fix comment alignment
  pkg/api/api_test.go
  pkg/shell/shell.go
  pkg/shell/shell_test.go
Due: golangci-lint

fix: security fixes (#347)
  internal/testlib/httmock.go
  pkg/api/api.go
  pkg/api/api_test.go
  pkg/chat/filesystem.go
  pkg/chat/filesystem_test.go
  pkg/cli/error_test.go
  pkg/cli/root.go
  pkg/cli/root_test.go
  pkg/shell/shell.go
  pkg/shell/shell_test.go
Due: golangci-lint

feat: add prompt templating with --template flag
  README.md
  docs/examples.md
  docs/index.md
  docs/usage/templates.md
  pkg/cli/root.go
  pkg/cli/root_test.go
  pkg/cli/template.go
  pkg/cli/template_test.go
  pkg/fs/fs.go
  pkg/fs/fs_test.go
Due: golangci-lint

feat: add prompt templating with --template flag (#349)
  README.md
  docs/examples.md
  docs/index.md
  docs/usage/templates.md
  pkg/cli/root.go
  pkg/cli/root_test.go
  pkg/cli/template.go
  pkg/cli/template_test.go
  pkg/fs/fs.go
  pkg/fs/fs_test.go
Due: golangci-lint

feat(lint): enforce full linting and fix reported issues
  .github/workflows/ci.yml
  .golangci.yaml
  internal/testlib/httmock.go
  pkg/api/api.go
  pkg/cli/root_test.go
  pkg/shell/shell.go
Due: golangci-lint

feat(lint): enforce full linting and fix reported issues (#351)
  .github/workflows/ci.yml
  .golangci.yaml
  internal/testlib/httmock.go
  pkg/api/api.go
  pkg/cli/root_test.go
  pkg/shell/shell.go
Due: golangci-lint

refactor: add input size limit and modernize Go idioms
  pkg/cli/root.go
  pkg/cli/root_test.go
  pkg/cli/template.go
  pkg/fs/fs.go
  pkg/fs/fs_test.go
Due: golangci-lint

refactor: add input size limit and modernize Go idioms (#353)
  pkg/cli/root.go
  pkg/cli/root_test.go
  pkg/cli/template.go
  pkg/fs/fs.go
  pkg/fs/fs_test.go
Due: golangci-lint

test: add SetAPIBase helper and pin httpmock URL in tests
  internal/testlib/env.go
  pkg/api/api_test.go
  pkg/cli/root_test.go
Due: golangci-lint

test: replace os.Setenv/Unsetenv with t.Setenv for safe env cleanup
  pkg/cli/check_test.go
  pkg/fs/fs_test.go
  pkg/modifiers/modifiers_test.go
Due: golangci-lint

refactor(api): extract Completer interface and update CLI to depend on it
  pkg/api/api.go
  pkg/cli/check.go
  pkg/cli/root.go
  pkg/cli/util_test.go
Due: golangci-lint

test: skip bash-dependent tests on Windows
  pkg/cli/root_test.go
  pkg/fs/fs_test.go
  pkg/shell/shell_test.go
Due: golangci-lint

chore: add Claude AI related files to gitignore
  .gitignore
Due: none

fix: fix env isolation and add DI improvements (#354)
  .gitignore
  internal/testlib/env.go
  pkg/api/api.go
  pkg/api/api_test.go
  pkg/cli/check.go
  pkg/cli/check_test.go
  pkg/cli/root.go
  pkg/cli/root_test.go
  pkg/cli/util_test.go
  pkg/fs/fs_test.go
  pkg/modifiers/modifiers_test.go
  pkg/shell/shell_test.go
Due: golangci-lint

chore: update readme
  README.md
Due: none

chore(docs): update Read the Docs build image to ubuntu-24.04
  .readthedocs.yaml
Due: none

chore(deps): upgrade Go to 1.26.2 and add pymdown-extensions floor
  docs/requirements.txt
  go.mod
Due: none

chore(deps): upgrade Go to 1.26.2 and add pymdown-extensions floor (#361) (#362)
  docs/requirements.txt
  go.mod
Due: none

api: give the OpenAI HTTP transport dial and header timeouts
  pkg/api/api.go
Due: golangci-lint

feat: give the OpenAI HTTP transport dial and header timeouts (#363)
  pkg/api/api.go
Due: golangci-lint

shell: reject multi-line LLM output so bash -c can't execute hidden commands
  pkg/shell/shell.go
  pkg/shell/shell_test.go
Due: golangci-lint
