Repository tbckr/sgpt: changes, and which pre-commit hooks are due for each by the changed paths.
All: goreleaser, golangci-lint

.pre-commit-config.yaml:

# Copyright (c) 2023 Tim <tbckr>
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: check-added-large-files

-   repo: local
    hooks:
    - id: license-header
      name: Add license header to files
      entry: ./scripts/license-header.sh
      language: script
    - id: goreleaser
      name: Check goreleaser config
      entry: bash -c "goreleaser check"
      language: system
      files: ^\.goreleaser\.yaml$
    - id: golangci-lint
      name: golangci-lint
      description: Fast linters runner for Go.
      entry: golangci-lint run --new-from-rev HEAD --fix
      types: [go]
      language: golang
      require_serial: true
      pass_filenames: false

feat: add prompt.yml
  prompts.yml
Due: none

chore: update version in readme
  README.md
Due: none

chore: extract prompt licenses to extra md file
  .github/licenses.tmpl
  .github/workflows/toc.yml
  licenses/prompts.md
  scripts/license-header.sh
Due: none

chore(docs): update TOC
  licenses/prompts.md
Due: none

chore(licenses): update oss licenses
  licenses/oss-licenses.md
Due: none

chore: reformat mds
  .github/licenses.tmpl
  licenses/prompts.md
Due: none

chore: set version for go install to latest
  README.md
Due: none

fix: remove cobra args validator from commands
  cli/code.go
  cli/image.go
  cli/shell.go
  cli/text.go
Due: golangci-lint

fix(image): remove trailing '==' suffix on image filenames
  filesystem/filesystem.go
Due: golangci-lint

chore: add source to prompt modifier
  prompts.yml
Due: none

feat: check if API key was set correctly
  README.md
  cli/check.go
  cli/root.go
Due: golangci-lint

chore: add existing modifiers to prompt.yml, mv prompts.yml to modifiers dir
  modifiers/prompts.yml
  prompts.yml
Due: none

chore(modifiers): add TODO for environment specific vars in prompts
  modifiers/modifiers.go
Due: golangci-lint

chore(docs): update TOC
  README.md
Due: none

chore: Update modifiers.go
  modifiers/modifiers.go
Due: golangci-lint

chore: clarify linux export command for OpenAI API key
  README.md
Due: none

chore: Update .editorconfig file for Markdown indentation
  .editorconfig
Due: none

feat: Add additional pre-commit hooks
  .mdl_config.yaml
  .pre-commit-config.yaml
Due: none

chore: Introduce MD linter and reformat
  .github/licenses.tmpl
  .mdl_config.yaml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  README.md
  licenses/prompts.md
Due: none

chore: add cache to oss-licenses.yml pipeline
  .github/workflows/oss-licenses.yml
  .pre-commit-config.yaml
Due: none

Revert "chore: add cache to oss-licenses.yml pipeline"
  .github/workflows/oss-licenses.yml
  .pre-commit-config.yaml
Due: none

chore: reformat oss-licenses.md
  .github/licenses.tmpl
Due: none

chore: rename packeg filesystem to fs
  chat/chat.go
  cli/image.go
  fs/fs.go
  image/image.go
Due: golangci-lint

feat: add govulncheck to ci pipeline
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .pre-commit-config.yaml
Due: none

chore: refactor ci pipeline
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

feat: use taskfile.dev
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  .goreleaser.yaml
  DEVELOPMENT.md
  Taskfile.yml
  scripts/gha-test.sh
Due: goreleaser

chore(docs): update TOC
  DEVELOPMENT.md
Due: none

fix: chmod +x for gha-test.sh script
  scripts/gha-test.sh
Due: none

chore: sgpt is a alias for shell-gpt
  README.md
Due: none

fix: exclude .task dir from license header script
  scripts/license-header.sh
Due: none

chore: update go.sum for go-openai 1.5.8
  go.sum
Due: none
