Repository tbckr/sgpt: changes, and which pre-commit hooks are due for each by the changed paths.
All: goreleaser, golangci-lint, govulncheck

goreleaser:
  name: check goreleaser config
  entry: bash -c "goreleaser check"
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  description: Fast linters runner for Go.
  entry: golangci-lint run --new-from-rev HEAD --fix
  language: golang
  require_serial: true
  pass_filenames: false

govulncheck:
  name: govulncheck
  description: Check for vulnerable dependencies
  entry: govulncheck ./...
  language: golang
  require_serial: true
  pass_filenames: false

chore(licenses): update oss licenses
  licenses/oss-licenses.md
Due: none

feat: add gitleaks to pre-commit
  cli/code_test.go
Due: golangci-lint, govulncheck

fix: update go version
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: delete unfinished tests
  cli/code_test.go
Due: golangci-lint, govulncheck

feat: use new goreleaser yaml spec
  .goreleaser.yaml
Due: goreleaser

fix: update go version in pipelines
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: update readme with reference to shell-gpt
  README.md
Due: none

feat: refactor whole codebase
  api/api.go
  chat/chat.go
  chat/filesystem.go
  cli/chat.go
  cli/check.go
  cli/code.go
  cli/error.go
  cli/image.go
  cli/licenses.go
  cli/man.go
  cli/root.go
  cli/shell.go
  cli/text.go
  cli/version.go
  cmd/sgpt/main.go
  fs/fs.go
  go.mod
  go.sum
  modifiers/modifiers.go
  shell/shell.go
Due: golangci-lint, govulncheck

chore: rename validation func
  Taskfile.yml
  chat/chat.go
  chat/filesystem.go
Due: golangci-lint, govulncheck

chore: access cache dir from viper
  chat/filesystem.go
  cli/root.go
Due: golangci-lint, govulncheck

chore: api WIP, cli TODO
  api/api.go
  api/api_test.go
  chat/chat.go
  chat/filesystem.go
  chat/filesystem_test.go
  cli/chat.go
  fs/fs_test.go
  go.mod
  modifiers/modifiers_test.go
  shell/shell_test.go
Due: golangci-lint, govulncheck

chore: commentes
  api/api_test.go
Due: golangci-lint, govulncheck

chore: add api tests
  api/api.go
  api/api_test.go
  cli/root.go
Due: golangci-lint, govulncheck

chore: add completion and man test
  cli/completion_test.go
  cli/man_test.go
  cli/util_test.go
  cli/version_test.go
Due: golangci-lint, govulncheck

chore(cli): remove unused chatCreateCmd struct
  cli/chat.go
Due: golangci-lint, govulncheck

chore: add comment + document changes in changelog
  CHANGELOG.md
  cli/root.go
Due: golangci-lint, govulncheck

chore: changelog default value overrides
  CHANGELOG.md
Due: none

chore: add check cmd tests
  api/api.go
  api/api_test.go
  cli/check_test.go
  cli/root.go
Due: golangci-lint, govulncheck

chore: add licenses cmd tests
  api/api_test.go
  cli/licenses.go
  cli/licenses_test.go
  fs/fs_test.go
Due: golangci-lint, govulncheck

chore: add tests for root cmd
  cli/error.go
  cli/root.go
  cli/root_test.go
  cli/util_test.go
  fs/fs_test.go
  shell/shell.go
Due: golangci-lint, govulncheck

chore: reformat
  cli/root_test.go
Due: golangci-lint, govulncheck

chore: add chat cli tests
  cli/chat_test.go
Due: golangci-lint, govulncheck

fix: use setconfigname instead of setconfigfile
  cli/root.go
  cli/root_test.go
Due: golangci-lint, govulncheck

Path conditions:
  goreleaser: any of: ^\.goreleaser\.yaml$
  golangci-lint: any of: \.go$
  govulncheck: any of: \.go$
